[submodule "demo/Refence/up5k_6502/up5k_6502"]
	path = demo/Refence/up5k_6502/up5k_6502
	url = https://github.com/emeb/up5k_6502.git
[submodule "demo/Refence/up5k_6502/up5k_6502"]
	path = demo/Refence/up5k_6502/up5k_6502
	url = https://github.com/emeb/up5k_6502.git
[submodule "demo/Refence/picorv32/picorv32"]
	path = demo/Refence/picorv32/picorv32
	url = https://github.com/cliffordwolf/picorv32.git
[submodule "demo/Refence/VexRiscv/VexRiscv"]
	path = demo/Refence/VexRiscv/VexRiscv
	url = https://github.com/wuxx/VexRiscv.git
[submodule "demo/Refence/icicle/icicle"]
	path = demo/Refence/icicle/icicle
	url = https://github.com/grahamedgecombe/icicle.git
[submodule "demo/Refence/litex-buildenv/litex-buildenv"]
	path = demo/Refence/litex-buildenv/litex-buildenv
	url = https://github.com/wuxx/litex-buildenv.git
[submodule "demo/Refence/iceZ0mb1e/iceZ0mb1e"]
	path = demo/Refence/iceZ0mb1e/iceZ0mb1e
	url = https://github.com/wuxx/iceZ0mb1e.git
