set_io   clk12              35
set_io   vga_h_sync             42
set_io   vga_v_sync             36
set_io   vga_R       4
set_io   vga_R1      2
set_io   vga_R2      47
set_io   vga_R3      45

set_io   vga_G      43
set_io   vga_G1     38
set_io   vga_G2     34
set_io   vga_G3     31

set_io   vga_B       3
set_io   vga_B1      48
set_io   vga_B2      46
set_io   vga_B3      44

set_io   quadA     27
set_io   quadB     25

