set_io clock_12 35
set_io LED0 37
set_io LED1 11

set_io VGA_CK 38
set_io VGA_DE 32
set_io VGA_HS 31
set_io VGA_VS 28
set_io VGA_B[3] 43
set_io VGA_B[2] 42
set_io VGA_B[1] 36
set_io VGA_B[0] 34
set_io VGA_G[3] 47
set_io VGA_G[2] 46
set_io VGA_G[1] 45
set_io VGA_G[0] 44
set_io VGA_R[3] 4
set_io VGA_R[2] 3
set_io VGA_R[1] 2
set_io VGA_R[0] 48

set_io -nowarn AUDIO_O 19
set_io joy_strobe 25
set_io joy_clock 27
set_io joy_data 21

set_io flash_sck 15
set_io flash_csn 16
set_io flash_mosi 14
set_io flash_miso 17

set_io buttons 10

#set_io buttons[0] 10
#set_io buttons[1] 20
#set_io buttons[2] 19
#set_io buttons[3] 18
#set_io buttons[4] 32

#set_io leds[0] 27
#set_io leds[1] 25
#set_io leds[2] 21
#set_io leds[3] 19
#set_io leds[4] 26
#set_io leds[5] 23
#set_io leds[6] 20
#set_io leds[7] 18

